/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

h1 {
    text-align: center;
}

#story {
    margin-bottom: 20px;
}

#choices button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

#choices button:hover {
    background-color: #0056b3;
}

/* Dark Mode */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

.container.dark-mode {
    background-color: #444;
    color: #fff;
}

#choices button.dark-mode {
    background-color: #007bff;
    color: #fff;
}

#choices button.dark-mode:hover {
    background-color: #0056b3;
}

/* Light Mode */
body.light-mode {
    background-color: #f2f2f2;
    color: #333;
}

.container.light-mode {
    background-color: #fff;
    color: #333;
}

#choices button.light-mode {
    background-color: #007bff;
    color: #fff;
}

#choices button.light-mode:hover {
    background-color: #0056b3;
}
